<div class="username-selection-container">
  <form [formGroup]="selectionForm" (ngSubmit)="goToNextStep()">
    <mat-card class="username-selection-card">

      <mat-card-header>
        <div class="username-selection-box-header">
          <img [src]="'assets/Images/prototype-logo.svg'" class="username-selection-logo">
        </div>
      </mat-card-header>
      
      <mat-card-content>
        <mat-form-field>
          <input
            (ngModelChange)="checkUsernameAvailable()"
            matInput 
            placeholder="Choose your Username" 
            formControlName="username" 
            name="username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <mat-error *ngIf="f.username.errors" class="invalid-feedback">
            <mat-error *ngIf="f.username.errors.unavailable">Username is not available</mat-error>
          </mat-error>
          <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <mat-error *ngIf="f.username.errors.required">Username is required</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            (ngModelChange)="checkEmailAvailable()"
            matInput placeholder="Enter Email" 
            formControlName="email" 
            name="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
            <mat-error *ngIf="f.email.errors.validEmail">Email must be valid</mat-error>
          </mat-error>
          <mat-error *ngIf="f.email.errors" class="invalid-feedback">
            <mat-error *ngIf="f.email.errors.unavailable">Email is not available</mat-error>
          </mat-error>

        </mat-form-field>

        <mat-form-field>
          <input
            (ngModelChange)="updatePassword()"
            type="password" 
            matInput placeholder="Enter Passowrd" 
            formControlName="password" 
            name="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input 
            type="password" 
            matInput placeholder="Re-Enter Passowrd" 
            formControlName="rePassword" 
            name="rePassword"
            pattern="{{ password }}"
            [ngClass]="{ 'is-invalid': submitted && f.rePassword.errors }" />
          <mat-error *ngIf="submitted && f.rePassword.errors" class="invalid-feedback">
            <mat-error *ngIf="f.rePassword.errors.required">You must re-enter your password</mat-error>
            <mat-error *ngIf="f.rePassword.errors.pattern">Password does not match</mat-error>
          </mat-error>
        </mat-form-field>

        <div *ngIf="errorMessage">
          {{errorMessage}}
        </div>
        
        <mat-card-actions>
          <button mat-raised-button type="submit" color="primary" class="username-validation-button">Next Step</button>
        </mat-card-actions>
      
      </mat-card-content>
    </mat-card>
  </form>
</div>