mat-spinner {
  margin: auto;
}

mat-card,
mat-card-header,
mat-card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

mat-card {
  margin: 60px auto;
  max-width: 250px;
}

mat-card-content {
  margin-top: 20px;
}

mat-form-field {
  flex: 1 0 0; 
  margin-bottom: 8px;
}

mat-card-actions {
  margin-top: 1em;
}

