.recovery-selection-container {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recovery-selection-logo {
  max-width: 250px;
  margin: auto;
}

.recovery-selection-submit-button {
  justify-content: center;
}
