<!--<mat-toolbar>Recovery Questions</mat-toolbar>-->

<!--<div class="recovery-questions-container">-->
<!--  <mat-card class="recovery-questions-card">-->
<!--    <mat-card-header>-->
<!--      <div class="recovery-questions-box-header">-->
<!--        <img [src]="'assets/Images/prototype-logo.svg'" class="recovery-questions-logo">-->
<!--      </div>-->
<!--    </mat-card-header>-->

<!--    <form [formGroup]="recoveryQuestionsForm" (ngSubmit)="onSubmit()">-->
<!--      <mat-card-content>-->
<!--        <table cellspacing="0">-->
<!--          <tr>-->
<!--            <td>-->
<!--              <mat-form-field class="recovery-question-1">-->
<!--                <input matInput placeholder={{question1}} formControlName="question1" required>-->
<!--              </mat-form-field>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <mat-form-field class="recovery-question-2">-->
<!--                <input matInput placeholder="Question 2" formControlName="question2" required>-->
<!--              </mat-form-field>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <mat-form-field class="recovery-question-3">-->
<!--                <input matInput placeholder="Question 3" formControlName="question3" required>-->
<!--              </mat-form-field>-->
<!--            </td>-->
<!--          </tr>-->
<!--        </table>-->
<!--      </mat-card-content>-->
<!--    </form>-->
<!--    &lt;!&ndash;      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>&ndash;&gt;-->
<!--    <mat-card-actions>-->
<!--      <button mat-raised-button (click)="handleAccountRecovery()" color="primary"-->
<!--              class="recovery-questions-submit-button">Submit-->
<!--      </button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->
<!--</div>-->
