@import '~@angular/material/theming';
@import '../../../styles.scss';

form {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: space-between;

  .col-half {
    width: 45%;
  }
}

mat-card.mat-card {
  max-width: 800px;
  margin: 0 auto;
}

mat-form-field {
  &.mat-form-field {
    width: 100%;
  }
}


.action-buttons {
  margin-top: 30px;
}

button {
  margin-right: 15px;
}





::ng-deep .timepicker {
  .timepicker__header {
    background-color: mat-color($primary, 400) !important;
  }

  .clock-face__clock-hand {
    background-color: mat-color($primary, 400) !important;

    &::after {
      background-color: mat-color($primary, 400) !important;
    }

    &::before {
      border-color: mat-color($primary, 400) !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: mat-color($primary, 400) !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: mat-color($primary, 400) !important;
  }
}