form {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: space-between;

  .col-half {
    width: 45%;
  }
}

mat-card.mat-card {
  max-width: 800px;
  margin: 0 auto;
}

mat-form-field {
  &.mat-form-field {
    width: 100%;
  }
}


.action-buttons {
  margin-top: 30px;
}

button {
  margin-right: 15px;
}