.change-password-container {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-password-logo {
  max-width: 250px;
  margin: auto;
}

.change-password-submit-button {
  justify-content: center;
}
