<mat-toolbar>Change Password</mat-toolbar>

<div class="change-password-container">
  <mat-card class="change-password-card">
    <mat-card-header>
      <div class="change-password-box-header">
        <img [src]="'assets/Images/prototype-logo.svg'" class="change-password-logo">
      </div>
    </mat-card-header>
    <mat-card-content>
      <form>
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="change-password">
                <input matInput placeholder="Enter New Password" [(ngModel)]="newPassword" name="newPassword" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="change-password">
                <input matInput placeholder="Re-Enter New Password" [(ngModel)]="reNewPassword" name="reNewPassword" required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <!--      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
    </mat-card-content>
    <div>{{errorMessage}}</div>
    <mat-card-actions>
      <button mat-raised-button (click)="handleNewPassword(username)" [disabled]="!newPassword || !reNewPassword" color="primary" class="change-password-submit-button">Submit</button>
    </mat-card-actions>
  </mat-card>
  <erp-account-recovery [user.username] = username></erp-account-recovery>
</div>
