@import '../../../styles.scss';

mat-toolbar.mat-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

mat-card {
  margin: auto;
  width: 50%;
  margin-bottom: 5%;

  mat-card-content {
    margin-top: 5%;
  }

  mat-form-field {
    display: block;
    width: 100%;
    margin: auto;
  }

  .muted {
    color: gray;
  }
}

form {
  margin: auto;
  margin-top: 10%;
  width: 80%;
}

h1, p {
  padding-left: 10%;
}

p {
  margin-bottom: 10%;
}

.meta-wrapper {
  display: flex;
  justify-content: space-between;

  mat-form-field.created {
    width: 40% !important;
    margin-right: 10%;
  }

  .img-container {
    display: inline-block;
    width: 50%;

    img {
      display: block;
      width: 100%;
      height: auto;
      border: gray dashed 0.5px;
    }
  }
}

