@import '../../../../styles.scss';

#controls-wrapper {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 50%;
  width: 75%;
}

#controls {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 10px gray;
  overflow: hidden;
}

#control-buttons {
  width: 100%;
  background-color: white;
  border-bottom: solid 0.5px rgb(160, 160, 160);
  margin-bottom: 10px;
}

form {
  margin: auto;
  margin-top: 15px;
}

.mat-tab-label {
  width: 80px !important;
}

mat-form-field.mat-form-field {
  display: block;
  width: 90%;
  margin: auto;
}

mat-form-field.col-half, div.col-half {
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.admin-check.mat-checkbox {
  display: block;
  margin-left: 5%;
  margin-bottom: 2%;
}

.common-buttons {
  margin-top: 5%;
  border-top: solid 0.5px rgb(160, 160, 160);
}

.mat-button {
  width: 50%;
}

.action-button-left {
  height: 48px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.action-button-right {
  height: 48px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}