<div id="controls-wrapper">
  <h1 class="mat-h1">User Controls</h1>
  <div id="controls">

    <mat-tab-group mat-align-tabs="center">

      <mat-tab label="New">
        <form [formGroup]="newUserForm" (ngSubmit)="submitNewUser()">
          <mat-checkbox 
            class="admin-check" 
            value="_newAdminCheck" 
            (click)="adminToggle()"
            formControlName="isAdmin"
          >Admin user</mat-checkbox>
          <mat-form-field>
            <input matInput placeholder="Username" value="" formControlName="username" required>
          </mat-form-field>
          <mat-form-field required>
            <input matInput placeholder="Password" value="" formControlName="password" required>
          </mat-form-field>
          <mat-form-field required>
            <input matInput placeholder="Email" value="" formControlName="email" required>
          </mat-form-field>
          <erp-canvas [hidden]="newUserForm.value.isAdmin" [width]="300" [height]="150" [includeExportButton]="false"></erp-canvas>
          <div class="common-buttons">
            <button mat-button color="primary" class="action-button-left" type="submit">Submit</button>
            <button mat-button color="accent" class="action-button-right" type="reset">Clear</button>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Existing">
        <form [formGroup]="existingUserForm">
          <mat-form-field>
            <mat-label>User</mat-label>
            <mat-select (selectionChange)="onSelect($event.value)" required>
              <mat-option> - </mat-option>
              <mat-option *ngFor="let user of _users" [value]="user.id" >{{user.username}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="_selectedUser">
            <mat-checkbox 
              class="admin-check"
              formControlName="isAdmin"
            >Admin user</mat-checkbox>
            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <div class="common-buttons">
              <button mat-button color="primary" class="action-button-left" (click)="updateSelectedUser()" type="submit">Save</button>
              <button mat-button color="accent" class="action-button-right" (click)="deleteSelectedUser()" type="submit">Delete</button>
            </div>
          </div>
        </form>

      </mat-tab>

    </mat-tab-group>

  </div>
</div>