// #award-datatable {
//   // float: left;
//   margin-left: 5%;
//   margin-right: auto;
//   width: 55%;
// }

// #pre-table-header {
//   height: 70px;
// }

// h1 {
//   display: inline-block;
//   width: 40%;
// }

// .mat-form-field {
//   display: inline-block;
//   width: 60%;
//   margin: auto;
//   text-align: center;
// }

table {
  width: 100%;
  padding: 10px;
}

// th {
//   height: 50px;
//   font-size: 20px;
// }

.col-slim {
  max-width: 70px;
}

.col-wide {
  min-width: 20vw;
  max-width: 250px;
}

.ml {
  margin-left: 10px;
}