mat-spinner {
  margin: auto;
}

.login-container,
.login-card,
.mat-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  min-height: 400px;
  margin: 40px auto 0 auto;
}

.login-card {
  width: 200px;
}

.login-logo {
  max-width: 250px;
  margin: auto;
}

.username-input {
  align-self: center;
}

.password-input {
  justify-content: center;
}

.forgot-password {
  font-size: 10px;
}

.create-account {
  font-size: 10px;
}

table {
  margin-bottom: 1em;
}

mat-card-actions.mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  padding: 0 4px;
}

.login-button {
  flex: 1;
  min-width: 100px;
}

.account-actions {
  display: flex;
  justify-content: space-between;
}