<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <div class="login-box-header">
        <img [src]="'assets/Images/prototype-logo.svg'" class="login-logo">
      </div>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="handleLogin()">
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="username-input">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><mat-form-field class="password-input">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field></td>
          </tr></table>
      </form>

      <div class="account-actions">
        <a mat-label class="forgot-password" href="/forgotPassword">Forgot Password?</a>
        <a mat-label class="create-account" href="/createAccount">Create an Account</a>
      </div>

      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
          <mat-card-actions>
            <button type="submit" mat-raised-button (click)="handleLogin()" color="primary" class="login-button">Login</button>
          </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
