<mat-toolbar color="primary" class="nav-menu">
  <mat-toolbar-row>
    <div class="menu-logo">
      <a href="/">
        <img [src]="'assets/Images/prototype-logo.svg'" class="logo">
      </a>
    </div>
    <!-- <span class="menu-spacer"></span> -->

    <ul class="menu-links">
      <li><a mat-button href="/awards">Awards</a></li>
      <li><a mat-button href="/">Employees</a></li>
      <li><a mat-button href="/account">Account</a></li>
      <li><a mat-button (click)="handleLogout()">Logout</a></li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
