#admin-datatable {
  margin: auto;
}

.mat-paginator {
  padding-right: 10%;
}

.mat-form-field {
  display: block;
  width: 50%;
  margin: auto;
  text-align: center;
}

table {
  width: 80%;
  margin: auto;
}

th {
  height: 50px;
  font-size: 20px;
}