.signature-input-container {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signature-input-logo {
  max-width: 250px;
  margin: auto;
}

.signature-input-button {
  justify-content: center;
}
