<div class="signature-input-container">
  <mat-card class="signature-input-card">
    <mat-card-header>
      <div class="signature-input-box-header">
        <img [src]="'assets/Images/prototype-logo.svg'" class="signature-input-logo">
      </div>
      <h3>Please provide a signature for your user account.</h3>
    </mat-card-header>
    <mat-card-content>
      <erp-canvas [includeExportButton]="false"></erp-canvas>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="!isTouched()" (click)="getSignature()"
              color="primary" class="username-validation-button">Create Account
      </button>
    </mat-card-actions>
  </mat-card>
</div>
