@import '../../../../styles.scss';

form {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: space-between;

  .col-half {
    width: 45%;
  }
}

mat-card.mat-card {
  max-width: 800px;
  margin: 0 auto;
}

mat-form-field.mat-form-field {
  width: 100%;
}


button,
button:hover {
  transition: background-color 150ms ease;
}

button {
  margin-right: 15px;
}

button.neutral {
  background-color: mat-color($mat-grey, 200);
  color: mat-color($mat-gray, 600);
  
  &:hover {
    background-color: mat-color($mat-grey, 300);
    color: mat-color($mat-gray, 700);
  }
}


// I know using !important is a bad practice, but it's
// the only way I could get the timepicker to use whatever
// styles are defined in our theme.

::ng-deep .timepicker {
  .timepicker__header {
    background-color: mat-color($primary, 400) !important;
  }

  .clock-face__clock-hand {
    background-color: mat-color($primary, 400) !important;

    &::after {
      background-color: mat-color($primary, 400) !important;
    }

    &::before {
      border-color: mat-color($primary, 400) !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: mat-color($primary, 400) !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: mat-color($primary, 400) !important;
  }
}
