<div id="canvas-cont">
  <canvas 
    id="canvas" 
    width="{{width || 500}}" 
    height="{{height || 300}}" 
    (mousedown)="penDown($event)" 
    (mousemove)="penMove($event)"
    (mouseup)="penUp()">
  </canvas>
  <section>
    <button type="button" (click)="clearCanvas()">Reset</button>
    <button type="button" (click)="randomPath()">Random</button>
    <button type="button" (click)="toggleLock()">Toggle lock</button>
    <button *ngIf="includeExportButton" (click)="canvasToData()">To data</button>
    <p *ngIf="!unlocked">Locked</p>
  </section>
</div>

<!--<p>{{mySignature !== null ? mySignature : null}}</p>-->