#controls-wrapper {
  float: left;
  margin-left: 5%;
  height: 50%;
  width: 30%;
}

#controls {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 10px gray;
  overflow: hidden;
}

#control-buttons {
  width: 100%;
  background-color: white;
  border-bottom: solid 0.5px rgb(160, 160, 160);
  margin-bottom: 10px;
}

h1 {
  padding-top: 10px;
  height: 60px;
  margin-bottom: 0;
}

form {
  margin-top: 15px;
}

.mat-tab-label {
  width: 80px !important;
}

.mat-form-field {
  display: block;
  width: 80%;
  margin: auto;
}

#is-admin-check.mat-checkbox {
  margin-left: 10%;
  margin-bottom: 2%;
}

#common-buttons {
  margin-top: 5%;
  border-top: solid 0.5px rgb(160, 160, 160);
}

.mat-button {
  width: 50%;
}

.action-button-left {
  height: 48px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.action-button-right {
  height: 48px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}