<div id="controls-wrapper">
  <h1 class="mat-h1">User Controls</h1>
  <div id="controls">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="New">
        <form action="">
          <mat-checkbox id="is-admin-check">Admin user</mat-checkbox>
          <mat-form-field>
            <input matInput placeholder="Username" value="">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" value="">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" value="">
          </mat-form-field>
        </form>
        <erp-canvas [width]="300" [height]="150"></erp-canvas>
      </mat-tab>
      <mat-tab label="Existing"> Content 2 </mat-tab>
    </mat-tab-group>

  </div>
</div>
