.set-recovery-questions-container {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-recovery-questions-logo {
  max-width: 250px;
  margin: auto;
}

.answer-input {
  align-self: center;
  justify-content: center;
}

.set-recovery-questions-button {
  justify-content: center;
}
